@page
@using System.Security.Cryptography
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">

	<input id="Button1" type="button" value="Получить рандомное число" />
	<p>
		Рандомное число [-10000; 50000]
	<p id="test"> </p>
	<script>
		var button = document.getElementById("Button1");
		var xhttp = new XMLHttpRequest();

		xhttp.open("GET","api/RandomNumber");
		button.addEventListener("click",
			function() {
				xhttp.send();
			});
	</script>
	</p>
</div>
		